
#navbar{
    height: auto;
    width: auto;
    border-style: solid;
    background-color: darkorange;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', Verdana, sans-serif;
    font-size: 30px;
    margin: 10;  
}

body {
    font-size: 12px;
}

#aClimb {
        background-color: powderblue;
        color: rgb(62, 68, 77);
        height: 0,auto;
        width: 0,auto;
        border-style: solid;
        text-align: center;
        padding: 10,10,10,10;
        margin: 10;
        display: inline-block;
        float: none;
}

.eContact {
        background-color: rgb(176, 230, 176);
        height: auto;
        width: auto;
        border-style: solid;
        margin: 10;
        padding: 10,10,10,10;
        display: block;
        float: right;
}
.acSelect {
        background-color: rgb(176, 230, 176);
        height: 200;
        width: 80;
        border-style: solid;
        margin: 10;
        padding: 10,10,10,10;
        display: block;
        float: left;
     
}
.cDetails {
        background-color: rgb(230, 176, 227);
        height: 200;
        width: 80;
        border-style: solid;
        margin: 10;
        padding: 10,10,10,10;
        display: inline=block;

}
.acButtons {
        background-color: rgb(230, 176, 227);
        height: 200;
        width: 80;
        border-style: solid;
        margin: 10;
        display: inline=block;
         padding: 10,10,10,10;
}